<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
        <!-- Setting a parameter named "baseUrl" with the value "https://qa.koal.app". -->
            <parameter name ="baseUrl" value="https://qa.koel.app"/>

    <test name="Example Test" preserve-order="false">
        <!-- Including a class named "Homework17" in the test. -->
        <classes>
            <class name="BaseTest"/>
            <class name="Homework17"/>
        </classes>
    </test>
</suite>